body {
    background-image: url(../Station-8/bg.png);
    display: block;
    margin: 8px;
}
iframe {
    width: 520px;
    height: 295px;
    display: block;
    margin: 8px;

}
.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.Youtube-video {
    position: absolute;
    top: 45px;
    left: 30px;
    display: block;
}

.Banderole {
    position:absolute;
    top:  275px;
    left: 370px;
}
