
h2 {
    font-family: sans-serif;
    color: #B63514;

}   
body
{
    font-family: sans-serif;
    background-image: url("../Aufgabe3/bg.png");
    width: 800px;
    height: 800px;
 top: 800px;
 left: 800px;
    overflow-y: scroll;
}   

#Sticky-Navigation
ul {
        list-style-type: none;
        margin: 0%;
        padding: 0%;
        left: 800px;
        position: absolute;
        background-color: black;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
         display: block;
         color: white;
         padding: 08px 10px;
        }
li  {
    float:right
}

li a:hover {
    color: red;
  }
  li a { display: block;
    text-align: center; 
 color:white;
 padding: 08px 10px; 
 text-decoration: none;
  }

  #Kreis
  {
  background-color: #B63514;
  width: 600;
  height: 300;
  text-align: center;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: -15px;
  margin-right: 520px;
  margin-right: auto;
  margin-top: auto;
  border-bottom-left-radius: 310px; 
  border-bottom-right-radius: 310px; 
  border: 10px solid #B63514;
  border-top: 0;
  }
  #Text-im-Kreis {
      background-clip: url("../Aufgabe3/bg.png");
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-align: right;
      font-size: 17%;
    }
  