html, body {
    background-color:#000;
}
.drumPad {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button {
    width: 150px;
    height:150px;
    border: 2px;
   margin: 4px;
   float: left;
 border-radius: 12px;
}
.blue {
    background-color: #3434e2 ;
}
.pink {
    background-color:#dd3f6f ;
}
.orange {
    background-color:#ff8c00 ;
}
.button9 {
    position: absolute;
    top: 600px;
    left: 43%;
}