html, body {
    background-color:#000;
}
.drumPad {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
button {
    width: 150px;
    height:150px;
    border: 2px;
   margin: 4px;
   float: left;
 border-radius: 12px;
}
button:hover {
 opacity: 80%;
}

.blue {
    background-color: #3434e2 ;
}
.pink {
    background-color:#dd3f6f ;
}
.orange {
    background-color:#ff8c00 ;
}
.button9 {
    position: absolute;
    display: inline-block;
    width: 150px;
    height:150px;
    border: 2px;
    margin-top: 600px;
    left: 480px;
}
.button9:hover {
    opacity: 80%;
}
.Flow-Chart {

position: relative;
font-family: sans-serif;
color:#3434e2;
font-size: 20px;
text-decoration: none;
}
.Flow-Chart:hover {
    color: #ff8c00;
    }