body {
    background-image: url(../Station-5/bg.png);
    display: block;
    margin: 8px;
}
form {
   color: antiquewhite;
   border: none;
}
fieldset {
  display: block; 
}
h1 {
    color: antiquewhite;
    display: block;
}
p {
    color: antiquewhite;
    font-weight: bold;
}
.Formular {
 position: absolute;
    display: block;
    top: 30px;
    left:30px;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ja-nein
 {
   color: antiquewhite;
   border: none;
   position: relative;
   left: -10px;
}
